<div class='board'>
    <div class='board__row'>
        <div class='board__column' data-pos='1'></div>
        <div class='board__column' data-pos='2'></div>
        <div class='board__column' data-pos='3'></div>
    </div>

    <div class='board__row'>
        <div class='board__column' data-pos='4'></div>
        <div class='board__column' data-pos='5'></div>
        <div class='board__column' data-pos='6'></div>
    </div>

    <div class='board__row'>
        <div class='board__column' data-pos='7'></div>
        <div class='board__column' data-pos='8'></div>
        <div class='board__column' data-pos='9'></div>
    </div>
</div>
