<div class='board' data='board-container'>
    <div class='board__row'>
        <div class='board__cell' data-cell='cell' data-index='0'></div>
        <div class='board__cell' data-cell='cell' data-index='1'></div>
        <div class='board__cell' data-cell='cell' data-index='2'></div>
    </div>

    <div class='board__row'>
        <div class='board__cell' data-cell='cell' data-index='3'></div>
        <div class='board__cell' data-cell='cell' data-index='4'></div>
        <div class='board__cell' data-cell='cell' data-index='5'></div>
    </div>

    <div class='board__row'>
        <div class='board__cell' data-cell='cell' data-index='6'></div>
        <div class='board__cell' data-cell='cell' data-index='7'></div>
        <div class='board__cell' data-cell='cell' data-index='8'></div>
    </div>
</div>